.inputDiv {
    margin: auto;
    margin-top: 20px;
    width: 800px;
    position: relative;
}

.inputBoxLabel {
    display: inline;
    position: absolute;
    left: 0;
    font-size: 18pt;
    font-weight: 400;
}

.inputBox {
    width: 580px;
    height: 50px;
    color: #63717f;
    margin-left: 100px;
    font-size: 22px;
    padding-left: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    right: 0;
}

.radioInputDiv{
    font-size: 20pt;
    display: inline;
}

.radioInputLabel{
    display: inline;
    position: absolute;
    left: 0;
    font-size: 18pt;
    font-weight: 400;
}

.radioInputDiv{
    width: 580px;
    height: 50px;
    margin-right: 250px;
    font-size: 22px;
}

.radioInput{
    font-size: 18pt;
    display: inline;
    position: relative;
}